[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
imutils = "*"
numpy = "*"
scipy = "*"
libopencv = "*"
streamlink = "*"
opencv-python = ">=4.4.0.42"

[requires]
python_version = "3.6"
